@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import-normalize;
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#racine {
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #FFFCFC;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  height: auto;
}

.wrap {
  perspective-origin: 50% 50%;
}

.svg {
  stroke: #a0a0a0;
  position: fixed;
  bottom: -100vh;
}

.svg:nth-child(1) {
  left: 39%;
  animation: raise1 20s linear infinite;
  animation-delay: -11s;
  transform: scale(-0.3) rotate(341deg);
  z-index: -7;
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(21deg);
  }
}

.svg:nth-child(2) {
  left: -8%;
  animation: raise2 9s linear infinite;
  animation-delay: -12s;
  transform: scale(0) rotate(81deg);
  z-index: -7;
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(266deg);
  }
}

.svg:nth-child(3) {
  left: 7%;
  animation: raise3 13s linear infinite;
  animation-delay: -13s;
  transform: scale(0.3) rotate(34deg);
  z-index: -7;
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(162deg);
  }
}

.svg:nth-child(4) {
  left: 4%;
  animation: raise4 11s linear infinite;
  animation-delay: -2s;
  transform: scale(0.6) rotate(138deg);
  z-index: -7;
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(198deg);
  }
}

.svg:nth-child(5) {
  left: 66%;
  animation: raise5 9s linear infinite;
  animation-delay: -3s;
  transform: scale(0.9) rotate(10deg);
  z-index: -7;
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(352deg);
  }
}

.svg:nth-child(6) {
  left: 25%;
  animation: raise6 15s linear infinite;
  animation-delay: -2s;
  transform: scale(1.2) rotate(266deg);
  z-index: -7;
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(135deg);
  }
}

.svg:nth-child(7) {
  left: 58%;
  animation: raise7 13s linear infinite;
  animation-delay: -4s;
  transform: scale(1.5) rotate(284deg);
  z-index: -7;
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(76deg);
  }
}

.svg:nth-child(8) {
  left: 44%;
  animation: raise8 18s linear infinite;
  animation-delay: -1s;
  transform: scale(1.8) rotate(158deg);
  z-index: -7;
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(141deg);
  }
}

.svg:nth-child(9) {
  left: 59%;
  animation: raise9 17s linear infinite;
  animation-delay: -12s;
  transform: scale(2.1) rotate(252deg);
  z-index: -7;
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(290deg);
  }
}

.svg:nth-child(10) {
  left: 74%;
  animation: raise10 19s linear infinite;
  animation-delay: -5s;
  transform: scale(2.4) rotate(111deg);
  z-index: -7;
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(62deg);
  }
}
/*# sourceMappingURL=index.css.map */