.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  .ContactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;

    input,
    select,
    textarea {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Oswald', sans-serif;
      width: 40vw;
      padding: 15px;
      text-transform: uppercase;
    }

    input[type=text],
    select,
    textarea {
      padding: 12px;
      border: 1px solid rgb(122, 122, 122);
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    input[type=submit] {
      color: rgb(0, 0, 0);
      padding: 12px 20px;
      border: 1px solid rgb(122, 122, 122);
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #000000;
      color: rgb(255, 255, 255);
    }
  }
}



// ******************************************************************Tablette******************************************************************
@media (min-width: 521px) and (max-width: 1440px) {
  .section-contact {
    .ContactForm {
      margin-top: 20px;
    }
  }


}

// ******************************************************************Mobile******************************************************************
@media (max-width: 520px) {
  .section-contact {
    margin-top: 80px;
  }
}