.PageWeb {
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	h1,
	h2 {
		display: flex;
		justify-content: center;
		font-size: 5em;
		font-style: italic;
		text-transform: uppercase;
	}

	h2 {
		margin-top: -70px;
		display: flex;
		-webkit-text-fill-color: rgba(255, 255, 255, 0);
		/* Will override color (regardless of order) */
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
	}

	.player-wrapper {

		margin-top: -10%;
		width: 100%;
	}

	.section-1 {
		ul.navPrimaire{
				margin: 0px!important;
				padding: 0px!important;
		}
		.navPrimaire {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			
			li {
				list-style: none;
				// margin: 0 0 0 25px;
				transition: opacity 500ms;

				&:hover img {
					opacity: 0.7;
					filter: grayscale(0%);
				}

				&:hover .middle {
					opacity: 1;
					transform: translate(15px, -180px);
				}

				.middle {
					transition: .5s ease;
					opacity: 0;
					transform: translate(0, -150px);
				}

				.text {
					color: rgb(204, 250, 139);
					font-size: 3em;
					font-style: italic;
					text-shadow: 4px 4px #000000;
				}

				a {
					text-decoration: none;
					list-style: none;
				}

				a img {
					width: 350px;
					height: 350px;
					object-fit: cover;
					filter: grayscale(60%);
				}
			}
		}
		.texte {
			// margin: 5%;
			width: 80%;
			text-align: justify;
			text-justify: inter-word;
		}
		h3 {
			font-size: 1.8em;
		}
		p {
			width: 100%;
			font-weight: bold;
			line-height: 1.5;
			word-spacing: 3px;
			writing-mode: inherit;
		}
	}

	.section-2 {
		margin-top: -10vw;

		&:hover {
			cursor: zoom-in;
		}

		img:nth-child(1) {
			width: 90%;
		}

		img:nth-child(2) {
			width: 6%;
		}
	}
}

// ******************************************************************Tablette******************************************************************
@media (min-width: 521px) and (max-width: 1440px) {
	.PageWeb {

		h1,
		h2 {
			font-size: 4em;
		}

		h2 {
			margin-top: -30px;
		}

		.section-1 {
			.navPrimaire {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				li {
					.middle {
						opacity: 1;
					}
				}

				.player-wrapper {
					display: flex;
					justify-content: center;
					align-items: center;

					.react-player {
						height: auto !important;
						width: 100vw !important;
					}
				}
			}
			.texte {
				margin: 5%;
			}
		}
	}
}

// ******************************************************************Mobile******************************************************************
@media (max-width: 520px) {
	.PageWeb {

		h1,
		h2 {
			font-size: 2em;
		}

		h2 {
			margin-top: -20px;
		}

		.section-1 {
			margin-top: 20%;

			.player-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;

				.react-player {
					height: 50vw !important;
					width: 100vw !important;
				}
			}

			.navPrimaire {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				li {
					.middle {
						opacity: 1;
					}
				}

			}
			.texte {
				margin: 5%;
			}
		}
	}
}