.PageGraphisme {
    .fill{
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    .stoke{
        -webkit-text-stroke-width: 1px;
    }

    h1,h2{
		display: flex;
		justify-content: center;
		flex-flow: wrap;
        text-transform: uppercase;
        font-size: 2.5em;
    }

	h1{
        margin-top: -120px;
        margin-left: -25px;
        margin-bottom: -25px;
    }
    h2{
        margin-left: 20px;
    }
	
    h3,
	p {
		font-style: italic;
		font-size: 1.8em;
	}
}

.logoTop {
	margin-top: 15%;
	margin-bottom: 5%;
	img {
		width: 19%;
		&:hover{
			cursor: zoom-in;
		}
	}
}
.contenuLogo {
	margin-bottom: 15%;
	img {
		width: 45%;
		margin: 5px;
		&:hover{
			cursor: zoom-in;
		}
	}
}

.top {
	display: flex;
	justify-content: flex-end;
	align-items:flex-end;
	margin-bottom: 20vh;

	svg.MuiSvgIcon-root {
		color: black;
		font-size: 5em;
		animation: animate 2s infinite ease-out;

		&:hover {
			-webkit-animation-play-state: paused;
			animation-play-state: paused;
			color: gray;
			cursor: pointer;
		}
	}
}

// ******************************************************************Tablette******************************************************************
@media (min-width: 521px) and (max-width: 1440px) {
	.PageGraphisme {
		h1{
			display: none;
		
		}
	h2{
		display: flex;
		flex-flow: wrap;
		justify-content: center;
        text-transform: uppercase;
        font-size: 3em;
    }}
}

// ******************************************************************Mobile******************************************************************
@media (max-width: 520px) { 
	.PageGraphisme {
		h1{
			display: none;
		}
	h2{
		display: flex;
		justify-content: center;
		flex-flow: wrap;
        text-transform: uppercase;
        font-size: 2em;
    }
	h3{
		font-size: 1.5em;
	}
	p{
		font-size: 1.5em;
	}
}
}

// ******************************************************************Mobile petit format******************************************************************
@media only screen and (max-width: 361px) {
	.PageGraphisme {
	h2{
        font-size: 1em;
    }}
}