.PageAudiovisuel {
	h1:nth-child(1){
		margin-top: -200px;
	}
	h1,
	h2 {
		display: flex;
		justify-content: center;
		font-size: 5em;
		font-style: italic;
		text-transform: uppercase;
	}

	h2 {
		margin-top: -70px;
		display: flex;
		-webkit-text-fill-color: rgba(255, 255, 255, 0);
		/* Will override color (regardless of order) */
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
	}

	.plus {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15vh;

		svg.MuiSvgIcon-root {
			color: black;
			font-size: 5em;
			animation: animate 2s infinite ease-out;

			&:hover {
				-webkit-animation-play-state: paused;
				animation-play-state: paused;
				color: gray;
				cursor: pointer;
			}
		}

		@keyframes animate {
			0% {
				opacity: 0;
				transform: translateY(-20px);
			}

			50% {
				opacity: 1;
			}

			100% {
				transform: translateY(20px);
			}
		}
	}

	.section-1 {
		display: flex;
		justify-content: center;
		align-items: center;
		.player-wrapper {
			margin: 30px;
		}
	}

	.section-2 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
}

// ******************************************************************Tablette******************************************************************
@media (min-width: 521px) and (max-width: 1440px) {
	.PageAudiovisuel {
		h1:nth-child(1){
			margin-top: 0px;
		}
		
		h1,
		h2 {
			font-size: 3em;
		}
		h2 {
			margin-top: -30px;
		}

		.plus {
			display: none;
		}
	}
}

// ******************************************************************Mobile******************************************************************
@media (max-width: 520px) {
	.PageAudiovisuel {
		.plus {
			margin-top: 0vh;
		}
		h1:nth-child(1){
			margin-top: 20%;
		}
		.react-player {
			height: auto !important;
			width: 100vw  !important;
		}
		.section-1 {
			display: flex;
			flex-flow: wrap;
		}

		h1,
		h2 {
			font-size: 2em;
		}
		h2 {
			margin-top: -30px;
		}
		.top {
			display: none;
		}
	}
}
