.App{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    padding-left: 20%;
    padding-right: 15%;
    
}

.burger-menu,
.burger-menu.open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 40px;
  z-index: 9999;
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Menu */

.menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;
 
  p{
    margin: 5%;
  }
}
.menu ul {
  position: relative;
  top: 0px;
  font-size: 20px;
  padding: 0px;
  text-decoration: none;
  list-style: outside none none;
}
.menu li {
  margin: 10px;
  padding: 0;
}

.menu li a{
  color: #333;
  text-decoration: none;
  list-style: outside none none;

  cursor: pointer;
}
.menu li a:hover {

    font-weight: 400;
    animation: random 1s infinite;
   
   }

@keyframes random {
    15% { color: rgb(126, 57, 57); } 
    30% { color: #6a652a; } 
    45% { color: rgb(102, 109, 78); } 
    60% { color: rgb(109, 56, 56); }
    75% { color: rgb(87, 146, 140); } 
}

.Logo {
  width: 10em;
}
// ******************************************************************Tablette******************************************************************
@media (min-width: 521px) and (max-width: 1440px) {

  .App{
    padding-left: 10%;
}
  .burger-menu,
  .burger-menu.open {
    display: inline-block;
  }
}

// ******************************************************************Mobile******************************************************************
@media (max-width: 520px) { 
  .App{
    padding-left: 10%;
}
  .burger-menu,
  .burger-menu.open {
    display: inline-block;
  }
}

@media only screen and (max-width: 361px) {
  .App{
    padding-left: 10%;
}
}